.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pin dialog{
  
  border: 2px solid red;
  border-radius: 25px;
  width : 100px;
  vertical-align: top; 
  margin: auto;
  position: fixed;
  display:flex !important;

}

.pinPreview {
  border: 2px solid blue;
  border-radius: 25px;
  display:inline-block;
  
}

.pinWrapper {
  width : 100px;
}

.pinPreview img {
   max-width: 100%;
   max-height: 100%;
   border-radius : 25px;

}

.rowOfPins {
  display : flex;
  max-height : 200px;
  justify-content: space-evenly;
  padding-bottom : 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
